.container {
  display: flex;
  justify-content: center;
}

.nav_container {
  max-width: 480px;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: column;
}

.container_section {
  position: absolute;
  max-width: 320px;
  right: 540px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 320px;
  height: 64px;
}

.form {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 480px;
}

.link_active {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 320px;
  height: 64px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}