.container {
  display: grid;
  grid-template-columns: 320px 872px;
  gap: 40px;
  max-width: 1232px;
  margin: auto;
}

.nav_container {
  max-width: 320px;
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: column;
}

.container_section {
  max-width: 320px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 320px;
  height: 64px;
}

.link_active {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 320px;
  height: 64px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}