.container_ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.container_ingredient:hover {
  cursor: pointer;
}

.price {
  gap: 8px;
}

.drag {
  opacity: 0.5;
}

.ingredient_header {
  margin: 0;
  height: 48px;
}