.modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  box-sizing: border-box;
  z-index: 999;
}

.container {
  width: 720px;
  background-color: #1C1C21;
  color: white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 640px;
  position: relative;
}

.closeIcon {
  position: absolute;
  right: 40px;
  top: 60px;
  z-index: 99;
}

.closeIconHeader {
  text-align: center;
  z-index: 99;
}

.closeIconHeader:hover {
  cursor: pointer;
}

.closeIcon:hover {
  cursor: pointer;
}

.title {
  max-width: 580px;
}