.header {
  background-color: #1C1C21;
}

.content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1280px;
  max-height: 88px;
  justify-items: flex-start;
  align-items: center;
}

.constructor {
  display: flex;
  color: inherit; 
  text-decoration: inherit;
}

.order_feed {
  display: flex;
  color: inherit; 
  text-decoration: inherit;
}

.account_link {
  display: flex;
  justify-self: end;
  color: inherit; 
  text-decoration: inherit;
}

.navbar {
  display: flex;
  gap: 8px;
}

.logo {
  justify-self: center;
}


