.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.link {
  color: #4C4CFF;
  text-decoration: none;
  padding: 10px;
  border: 5px dotted #4C4CFF;
}

.link:hover {
  opacity: 0.5;
  transition: ease-in 0.15s;
  cursor: pointer;
}