.main_container {
  max-width: 600px;
}

.tabs {
  display: flex;
}

.ingredients_container {
  max-height: 716px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ingredients_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  column-gap: 24px;
  row-gap: 32px;
  list-style: none;
  padding: 0;
}

.ingredients_container::-webkit-scrollbar {
  width: 8px;
  height: 664px;
  background-color: rgba(47, 47, 55, 2);
}

.ingredients_container::-webkit-scrollbar-thumb {
  height: 492px;
  background-color: rgba(133, 133, 173, 1);
}

.ingredients_container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(99, 99, 128);
}